:root {
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-accent: #ff3400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }
}

/* Links*/

a {
  text-decoration: none;
  color: var(--color-accent);
  font-weight: 500;
}
.link-arrow {
  font-weight: bold;
}
.link-arrow::after {
  margin-left: 5px;
  transition: margin 0.2s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

/* Badges */
.badge {
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  background-color: #f10e33;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
.list--tick .list__item {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0.5rem;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}
.icon-container {
  width: 64px;
  height: 64px;
  background-color: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon--card {
  fill: #f10e33;
}
.icon--nav {
  fill: #fff;
  width: 30px;
  height: 30px;
}
.icon--navi {
  fill: #fff;
  width: 30px;
  height: 30px;
}
.icon--hero {
  fill: #fff;
  width: 100%;
  height: 200px;
}
.icon--desc {
  width: 40px;
  height: 22px;
}
/* Buttons */
.btn {
  border: 0;
  border-radius: 40px;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1.5rem 2rem;
  cursor: pointer;
  margin: 1rem 0;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 0;
}
.btn .icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-left: 5px;
  font-weight: bold;
  vertical-align: text-bottom;
}
.btn .icon .icon--card {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-left: 5px;
  vertical-align: bottom;
}

.btn:hover:after {
  margin-left: 1rem;
}
.btn--hero {
  background-color: #ee3a7c;
  color: #fff;
}
.btn--hero:hover {
  background-color: #e91b66;
}
.btn--section {
  background-color: var(--color-accent);
  color: #fff;
  margin: 25px 0;
}
.btn--section:hover {
  background-color: #ed6635;
}
.btn--more:hover {
  background-color: #ed6635;
}
.btn--card {
  background-color: #e90ccc;
  color: #fff;
}
.btn--more {
  background-color: var(--color-accent);
  color: #fff;
  margin: 0;
  margin-left: 3rem;
}
.btn--card:hover {
  background-color: #f665e2;
  color: #fff;
}
.download__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  font-weight: 400;
  overflow: hidden;
  transition: transform 0.2s ease-out;
}
.card__header,
.card__body {
  padding: 2rem 3rem;
}
.card--primary .card__header {
  color: var(--color-headings);
  background: #d2d0db;
}
.card--special .card__header {
  color: var(--color-headings);
  background: lightsteelblue;
}
.card--special {
  transform: scale(1.1);
}
.plan__name {
  margin: 0;
  margin-bottom: 0.5rem;
}
.card--image .card__header {
  display: flex;
  justify-content: center;
  background-color: lightgray;
}
.card__image {
  width: 200px;
}
.card--primary:hover {
  transform: scale(1.05);
}
.card--special:hover {
  transform: scale(1.15);
}
@media screen and (min-width: 768px) {
  .card__image {
    width: 250px;
  }
}
/* Tables */
table {
  color: black;
  border-collapse: collapse;
  margin-bottom: 2.5rem;
  margin-top: 0;
  letter-spacing: 0.1rem;
}
thead,
tr {
  border-bottom: 1px dashed black;
  text-align: left;
}

th,
td {
  padding: 0.5rem 1rem;
}
tr:nth-child(odd) {
  background-color: whitesmoke;
}
tr th {
  background-color: white;
  color: var(--color-headings);
  font-weight: 800;
}
.table__description {
  font-style: italic;
  color: black;
  margin-bottom: 0;
}
.table__description::before {
  content: "*";
  color: red;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Collapsible */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}
.collapsible-icon {
  transition: transform 0.3s;
}
.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.collapsible--expanded .collapsible-icon {
  transform: rotate(90deg);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
/* Blocks */
.block {
  padding: 6rem 2rem;
}
.block__header {
  text-align: center;
}
.block__heading {
  margin-top: 0;
}
.block--dark {
  background-color: rgb(226, 223, 223);
  color: #7b858b;
}
.block--dark .block__heading {
  color: #000;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Nav Bar */
.nav {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}
.nav__list {
  width: 100%;
  margin: 0;
}
.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #444;
}
.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: #fff;
}
.nav__toggler {
  opacity: 0.5;
  cursor: pointer;
}
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.8rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}

/* Hero */
.hero__tagline {
  font-size: 2rem;
  color: #222;
  letter-spacing: 3px;
  text-transform: capitalize;
  margin: 2rem 0;
}

.hero__desc {
  font-size: 2rem;
  color: #222;
  letter-spacing: 1px;
  text-align: left;
  margin: 0;
  display: block;
}
.contact {
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    text-align: center;
    align-self: center;
  }
}

/* Plans */
.block--plans .grid {
  gap: 4rem 4rem;
}
.block--plans .card {
  max-width: 500px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .section__heading {
    text-align: center;
  }
}
.icon--section {
  height: 20px;
  width: 20px;
  margin-left: 0;
}
