:root {
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-accent: #ff3400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }
}

/* Links*/

a {
  text-decoration: none;
  color: var(--color-accent);
  font-weight: 500;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.2s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

/* Badges */
.badge {
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  background-color: #f10e33;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
.list--tick .list__item {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0.5rem;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}
.icon-container {
  width: 64px;
  height: 64px;
  background-color: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon--card {
  fill: #f10e33;
}

/* Buttons */
.btn {
  border: 0;
  border-radius: 40px;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.5rem 2rem;
  cursor: pointer;
  margin: 1rem 0;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 0;
}
.btn .icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-left: 8px;
  vertical-align: text-bottom;
}
.btn .icon .icon--card {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-left: 8px;
  vertical-align: bottom;
}
/* .btn::after {
  content: "-->";
  margin-left: 0.5rem;
} */
.btn:hover:after {
  margin-left: 1rem;
}
.btn--hero {
  background-color: #ee3a7c;
  color: #fff;
}
.btn--hero:hover {
  background-color: #e91b66;
}
.btn--section {
  background-color: var(--color-accent);
  color: #fff;
}
.btn--section:hover {
  background-color: #ed6635;
}
.btn--card {
  background-color: #e90ccc;
  color: #fff;
}
.btn--card:hover {
  background-color: #f665e2;
  color: #fff;
}
.download__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  font-weight: 400;
  overflow: hidden;
}
.card__header,
.card__body {
  padding: 2rem 3rem;
}
.card--primary .card__header {
  color: var(--color-headings);
  background: lightsteelblue;
}
.card--special .card__header {
  color: var(--color-headings);
  background: #8be4f4;
}
.plan__name {
  margin: 0;
}
.card--image .card__header {
  display: flex;
  justify-content: center;
  background-color: lightgray;
}
.card__image {
  width: 200px;
}
@media screen and (min-width: 768px) {
  .card__image {
    width: 250px;
  }
}
/* Tables */
table {
  color: black;
  border-collapse: collapse;
  margin-bottom: 2.5rem;
  margin-top: 0;
  letter-spacing: 0.1rem;
}
thead,
tr {
  border-bottom: 1px dashed black;
  text-align: left;
}

th,
td {
  padding: 0.5rem 1rem;
}
tr:nth-child(odd) {
  background-color: lightgray;
}
tr th {
  background-color: white;
  color: var(--color-headings);
  font-weight: 800;
}
.table__description {
  font-style: italic;
  color: black;
  margin-bottom: 0;
}
.table__description::before {
  content: "*";
  color: red;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
