<section id="section" class="block container block--plans">
  <h2 class="section__heading">Ribbon Cakes</h2>
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--image">
        <header class="card__header">
          <a href="images/rCakes/1.webp"
            ><img class="card__image" src="images/rCakes/1.webp" alt=""
          /></a>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Ribbon 2kg</li>
            <li class="list__item">Rs.5000.00 upwards</li>
          </ul>
          <div class="download__button">
            <a class="btn btn--card" href="images/rCakes/1.webp" download="">
              Download
              <svg class="icon icon--card">
                <use xlink:href="images/sprite.svg#download (1)"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--image">
        <header class="card__header">
          <a href="images/rCakes/2.webp"
            ><img class="card__image" src="images/rCakes/2.webp" alt=""
          /></a>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Ribbon 2kg</li>
            <li class="list__item">Rs.5000.00 upwards</li>
          </ul>
          <div class="download__button">
            <a class="btn btn--card" href="images/rCakes/2.webp" download="">
              Download
              <svg class="icon icon--card">
                <use xlink:href="images/sprite.svg#download (1)"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--image">
        <header class="card__header">
          <a href="images/rCakes/3.webp"
            ><img class="card__image" src="images/rCakes/3.webp" alt=""
          /></a>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Ribbon 2kg</li>
            <li class="list__item">Rs.5000.00 upwards</li>
          </ul>
          <div class="download__button">
            <a class="btn btn--card" href="images/rCakes/3.webp" download="">
              Download
              <svg class="icon icon--card">
                <use xlink:href="images/sprite.svg#download (1)"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <a href="ribbonCakes.html">
      <button class="btn btn--more">
        More
        <svg class="icon icon--card">
          <use xlink:href="images/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </a>
  </div>
</section>
<section class="block container block--plans">
  <h2 class="section__heading">Chocolate Cakes</h2>
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--image">
        <header class="card__header">
          <a href="images/1.webp"
            ><img class="card__image" src="images/1.webp" alt=""
          /></a>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Ribbon 2kg</li>
            <li class="list__item">Rs.5000.00 upwards</li>
          </ul>
          <div class="download__button">
            <a class="btn btn--card" href="images/1.webp" download="">
              Download
              <svg class="icon icon--card">
                <use xlink:href="images/sprite.svg#download (1)"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--image">
        <header class="card__header">
          <a href="images/1.webp"
            ><img class="card__image" src="images/1.webp" alt=""
          /></a>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Ribbon 2kg</li>
            <li class="list__item">Rs.5000.00 upwards</li>
          </ul>
          <div class="download__button">
            <a class="btn btn--card" href="images/1.webp" download="">
              Download
              <svg class="icon icon--card">
                <use xlink:href="images/sprite.svg#download (1)"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--image">
        <header class="card__header">
          <a href="images/1.webp"
            ><img class="card__image" src="images/1.webp" alt=""
          /></a>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Ribbon 2kg</li>
            <li class="list__item">Rs.5000.00 upwards</li>
          </ul>
          <div class="download__button">
            <a class="btn btn--card" href="images/1.webp" download="">
              Download
              <svg class="icon icon--card">
                <use xlink:href="images/sprite.svg#download (1)"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <a href="chocolateCakes.html">
      <button class="btn btn--more">
        More
        <svg class="icon icon--card">
          <use xlink:href="images/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </a>
  </div>
</section>
