<footer class="block block--footer">
  <div class="container grid">
    <section class="footer__section copyright">
      <h3 class="footer__heading">Hand Made Cakes</h3>
      <p class="copyright">&copy; Copyright 2022 HMC</p>
    </section>
    <section class="footer__section credits">
      <h3 class="footer__heading">Credits</h3>
      <p class="copright__text">
        Welcome Sticker :
        <a
          href="https://www.flaticon.com/free-icons/welcome"
          title="welcome icons"
          >Welcome icons created by Freepik - Flaticon</a
        >
      </p>
    </section>
  </div>
</footer>
