<section class="block block--dark">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Home Made Cakes</h1>
      <p class="hero__tagline">Just whatsapp your design!</p>
      <div class="hero__desc">
        <svg class="icon icon--desc">
          <use xlink:href="images/sprite.svg#whatsapp (1)"></use>
        </svg>
        077 871 5969
        <div class="contact">
          <svg class="icon icon--desc">
            <use xlink:href="images/sprite.svg#marker (1)"></use>
          </svg>
          Malabe
        </div>
      </div>
      <a href="">
        <button class="btn btn--section">
          Our Creations
          <svg class="icon icon--card">
            <use xlink:href="images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </a>
    </header>
    <svg class="icon icon--hero">
      <use xlink:href="images/sprite.svg#welcome-back"></use>
    </svg>
  </div>
</section>
