<section class="block block--dark">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Home Made Cakes</h1>
      <p class="hero__tagline">Just whatsapp your design!</p>
      <div class="hero__desc">
        <svg class="icon icon--desc">
          <use xlink:href="images/sprite.svg#whatsapp (1)"></use>
        </svg>
        077 871 5969
        <div class="contact">
          <svg class="icon icon--desc">
            <use xlink:href="images/sprite.svg#marker (1)"></use>
          </svg>
          Malabe
        </div>
      </div>
      <a href="#section">
        <button class="btn btn--section">
          Our Creations
          <svg class="icon icon--card">
            <use xlink:href="images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </a>
    </header>
    <svg class="icon icon--hero">
      <use xlink:href="images/sprite.svg#welcome-back"></use>
    </svg>
  </div>
</section>
<section class="block container block--plans">
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">Butter Cake</h3>
        </header>
        <div class="card__body">
          <table>
            <thead>
              <tr>
                <th>Weight</th>
                <th>Price</th>
              </tr>
            </thead>
            <tr>
              <td>0.5kg</td>
              <td>Rs.1000.00</td>
            </tr>
            <tr>
              <td>1kg</td>
              <td>Rs.1500.00</td>
            </tr>
            <tr>
              <td>1.5kg</td>
              <td>Rs.2000.00</td>
            </tr>
            <tr>
              <td>2kg</td>
              <td>Rs.2500.00</td>
            </tr>
          </table>
          <p class="table__description">basic strucuture without any design</p>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--special">
        <header class="card__header">
          <h3 class="plan__name">Chocolate Cake</h3>
          <span class="badge">with Cherry & Chocolate</span>
        </header>
        <div class="card__body">
          <table>
            <thead>
              <tr>
                <th>Weight</th>
                <th>Price</th>
              </tr>
            </thead>
            <tr>
              <td>0.5kg</td>
              <td>Rs.1000.00</td>
            </tr>
            <tr>
              <td>1kg</td>
              <td>Rs.1500.00</td>
            </tr>
            <tr>
              <td>1.5kg</td>
              <td>Rs.2000.00</td>
            </tr>
            <tr>
              <td>2kg</td>
              <td>Rs.2500.00</td>
            </tr>
          </table>
          <p class="table__description">basic strucuture without any design</p>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">Ribbon Cake</h3>
        </header>
        <div class="card__body">
          <table>
            <thead>
              <tr>
                <th>Weight</th>
                <th>Price</th>
              </tr>
            </thead>
            <tr>
              <td>0.5kg</td>
              <td>Rs.1000.00</td>
            </tr>
            <tr>
              <td>1kg</td>
              <td>Rs.1500.00</td>
            </tr>
            <tr>
              <td>1.5kg</td>
              <td>Rs.2000.00</td>
            </tr>
            <tr>
              <td>2kg</td>
              <td>Rs.2500.00</td>
            </tr>
          </table>
          <p class="table__description">basic strucuture without any design</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section" class="block container block--plans">
  <h2 class="section__heading">Ribbon Cakes</h2>
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--image">
        <header class="card__header">
          <a href="images/1.webp"
            ><img class="card__image" src="images/1.webp" alt=""
          /></a>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Ribbon 2kg</li>
            <li class="list__item">Rs.5000.00 upwards</li>
          </ul>
          <div class="download__button">
            <a class="btn btn--card" href="images/1.webp" download="">
              Download
              <svg class="icon icon--card">
                <use xlink:href="images/sprite.svg#download (1)"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--image">
        <header class="card__header">
          <a href="images/1.webp"
            ><img class="card__image" src="images/1.webp" alt=""
          /></a>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Ribbon 2kg</li>
            <li class="list__item">Rs.5000.00 upwards</li>
          </ul>
          <div class="download__button">
            <a class="btn btn--card" href="images/1.webp" download="">
              Download
              <svg class="icon icon--card">
                <use xlink:href="images/sprite.svg#download (1)"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--image">
        <header class="card__header">
          <a href="images/1.webp"
            ><img class="card__image" src="images/1.webp" alt=""
          /></a>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Ribbon 2kg</li>
            <li class="list__item">Rs.5000.00 upwards</li>
          </ul>
          <div class="download__button">
            <a class="btn btn--card" href="images/1.webp" download="">
              Download
              <svg class="icon icon--card">
                <use xlink:href="images/sprite.svg#download (1)"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <a href="ribbonCakes.html">
      <button class="btn btn--more">
        More
        <svg class="icon icon--card">
          <use xlink:href="images/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </a>
  </div>
</section>
<section class="block container block--plans">
  <h2 class="section__heading">Chocolate Cakes</h2>
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--image">
        <header class="card__header">
          <a href="images/1.webp"
            ><img class="card__image" src="images/1.webp" alt=""
          /></a>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Ribbon 2kg</li>
            <li class="list__item">Rs.5000.00 upwards</li>
          </ul>
          <div class="download__button">
            <a class="btn btn--card" href="images/1.webp" download="">
              Download
              <svg class="icon icon--card">
                <use xlink:href="images/sprite.svg#download (1)"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--image">
        <header class="card__header">
          <a href="images/1.webp"
            ><img class="card__image" src="images/1.webp" alt=""
          /></a>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Ribbon 2kg</li>
            <li class="list__item">Rs.5000.00 upwards</li>
          </ul>
          <div class="download__button">
            <a class="btn btn--card" href="images/1.webp" download="">
              Download
              <svg class="icon icon--card">
                <use xlink:href="images/sprite.svg#download (1)"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--image">
        <header class="card__header">
          <a href="images/1.webp"
            ><img class="card__image" src="images/1.webp" alt=""
          /></a>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Ribbon 2kg</li>
            <li class="list__item">Rs.5000.00 upwards</li>
          </ul>
          <div class="download__button">
            <a class="btn btn--card" href="images/1.webp" download="">
              Download
              <svg class="icon icon--card">
                <use xlink:href="images/sprite.svg#download (1)"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <a href="chocolateCakes.html">
      <button class="btn btn--more">
        More
        <svg class="icon icon--card">
          <use xlink:href="images/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </a>
  </div>
</section>
